#red{
    color: red;
}
#blue{
    color: rgb(42, 163, 238);
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
h2[class="color-title"]{
    font-weight: normal;
}
.color-dop{
    height: 200px;
    width: 200px;
}
h1{
    text-align: center
}
.yobro
{
    text-align: center;
}